/* index.css */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  background: #352275;
  height: 108px;
  /* padding: 15px 20px; */
}

.Navbar li,
.Navbar a {
  text-align: center;
  list-style: none;
  text-decoration: none;
  display: inline-block;
  margin: 20px 20px;
  font-size: 1.2rem;
  color: white;
}

.sidenav {
  height: 90vh;
  width: 200px;
  z-index: 1;
  background-image: url("./images/pow.png"), url("./images/gif-animations-replace-loading-screen-12.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position: bottom center, top right, top left;
  overflow-x: hidden;
  margin-top: 0px;
} 

.sidenav-left {
  position: fixed;
  bottom: 0;
  left: 0; 
}

.sidenav-right {
  position: fixed;
  bottom: 0;
  right: 0;
}


/* .Sidebar {
  margin-top: 66px;
  width: 250px;
  transition: width 0.3s ease-in-out;
  height: 100vh;
  background-color:#131a35;
  position: fixed;
  left: 0;
  top: 0;
} */

 .page-img {
   height: 966px;
  background-image: url("./src/images/city.jpg");
  background-repeat: no-repeat;
  background-size: cover;
} 
